/* Reset some default styles for better control */
body, h1, h2, p, ul, li {
    margin:0px;
    padding: 0px;

}


/* Define the overall styling for the website */
body {
    background-color: #6a6b6e;
    color: #fff;
    font-family: Arial, sans-serif;
    background-image: url("BackgroundImage.jpg");
    background-size: cover;
    width:100%;
    height:100%;

}

/* Style the navigation bar */

nav {
    display:flex;
    align-items: center;
    justify-content:center ;
    gap:200px;
    background-color: #4d4d4d;
    padding: 10px 0;
    font-size: 30 px;
    text-align: center;
    height:80px;
   
}
nav a {
    text-decoration: none;
    color:white;
    margin: 0 20px;
    font-size: 20px;
    font-family: Verdana, sans-serif;

}

#TheButton1{
    width:300px;
    height:100px;
    color:white;
    font-size:20px;
    background-color:   #4d4d4d;
    border-radius:20px;
    border:none;
    cursor:pointer;
    display:block;
}
#TheButton2{
    width:300px;
    height:100px;
    color:white;
    font-size:20px;
    background-color:  #4d4d4d;
    border-radius:20px;
    border:none;
    cursor:pointer;
    display:block;
    right:200px;
}
#TheButton3{
    position: absolute;
    top:300px;
    right:300px;
    width:300px;
    height:100px;
    color:white;
    font-size:20px;
    background-color:  #4d4d4d;
    border-radius:20px;
    border:none;
    cursor:pointer;
    display:block;
    right:200px;
}

/* Center align the icons */
.icon-container {
   display:flex;
    position:absolute;
    top:200px;
    bottom:500px;
    left:850px;
    text-align: center;
    float:right;
    gap:100px;
    margin-top: 50px;
    justify-content:center;
    align-items: center;
    width: 500px;
    height:300px;
    border-radius:20px;
    margin: 0 30px;
}

footer {
    position:absolute;
    bottom:0px;
    width:100%;
    height:55px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.icon-text {
    font-size: 24px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 20%;
}

